.App {

  text-align: center;
}

.todo-card{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgray;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(247, 247, 247) ;

}

.todo-row{
  padding: 10px;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.main-heading{
  background-color: whitesmoke;
  padding: 20px;
  font-family: sans-serif;
  font-size: 30px;
}

.input-box{
  /* padding-left: 275px;
  padding-right: 275px; */
  border-radius: 5px;
  width: 97%;
  padding: 4px;
  border : 2px lightslategray;
  box-shadow: 2px 2px gainsboro ;
}

.input-text{
  font-family: sans-serif;
  font: weight 100px;

}